@import "./reset.css";
@import "./variables.css";

body {
  font-family: var(--f-body);
}

a {
  text-decoration: none;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 2px;
  height: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--c-yellow-primary);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--c-yellow-dark);
}

@media (min-width: 45em) {
  ::-webkit-scrollbar {
    width: 14px;
  }
}


